<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>PhSuJwxXd7W84fUy+ReWiVdIt3hGPw+8nq7XY7gXodS3eGRTyrgGbqCf0CeHP9vYjQBzAiKi6d9G/xVpbHFNDMWOTqHvSKPkJh2Bnzp7W7/axkSp6oUOGO9O+yCdsMbcObAAfaqwaG0vzFV72jUtRlr5T0bA3MxRN+FoIASMvdg=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>aO8YC2rPaZe28TBLQTcBD1KtJ7cdJq6KZT9Lqp9q7NG7EYNsFmRXuuSCPnf7h2mwXComfnzXNF+zq/EFlSNc+wo6RFmkbqO/baG6tYJ9iz2dOIau6a33qJkfDfDtIDEHk8HVGRiRLMamPcwnLZI0UKqRiOWUU8tgTTgJBe0IqVpAbwloq1GPHFPTo2KdGS77E2IS/uU2ApC6w7xgfIwxe3lxG/ecMB7QHcD8XDjeAdoUBOPPM97DjoV+H3M5opl6hTB7zlW0HHkPuMIuPnIaBw==</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <system.web>
  <customErrors mode="Off"/>
    <authorization>
      <allow users="*"/>
    
    </authorization>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.0"/>
  </system.web>
  <system.webServer>
    <httpProtocol>
   
    </httpProtocol>
  </system.webServer>
<system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>